.about {
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 2em;
}
    .about section {
        width: 100%;
        margin: 0 auto 10em auto;
    }
    
    /* Introduction */
    #intro-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
        #intro-section h3 {
            max-width: 380px;
        }
        .intro-img-section {
            margin-right: 3vw;
        }
        #intro-section img {
            height: 50%;
            max-height: 600px;
            min-width: 250px;
            width: 100%;
            object-fit: cover;
        }
        .intro {
            margin-top: 4.75em;
        }
        .intro-text {
            max-width: 600px;
            min-width: 300px;
        }

    /* Skills */
    #skill-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 5em;
    }
    #skill-section aside {
        width: 370px;
    }
        .skill-title {
            border-bottom: 1px solid var(--main-cta-color);
            width: fit-content;
            padding-bottom: 0.1em;
        }
        .skill-list {
            display: flex;
            gap: 3em;
        }
        #skill-section div ul {
            padding-left: 1em;
            margin: 0;
        }

    /* For Fun Section */
    #for-fun-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5em;
    }
        #for-fun-section > * {
            min-width: 300px;
        }
            .swiper {
                position: relative;
                border-radius: 5px;
                max-width: 600px;
            }
                .swipe-text {
                    max-width: 600px;
                }
                .swiper nav {
                  position: absolute;
                  display: flex;
                  justify-content: space-between;
                  width: 114%;
                  inset: 0 -7%;
                  z-index: 0;
                  button {
                    border: 1px solid var(--main-cta-color);
                    background-color: var(--main-bg-color);
                    color: var(--text-color);
                    cursor: pointer;
                    transition: 0.2s ease;
                    &:first-child {
                        opacity: 0;
                    }
                  }  
                  button:hover {
                    background-color: var(--footer-bg-color);
                    transition: ease 0.1s;
                }
                }
                .swiper-slides {
                    z-index: 1;
                    position: relative;
                    display: flex;
                    align-items: center;
                    overflow-x: scroll;
                    scroll-snap-type: x mandatory;
                    overscroll-behavior-x: contain;
                }
                    .swiper-slide-item {
                        margin: 0;
                        scroll-snap-align: start;
                        flex-shrink: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .swiper-slide-item > img {
                        max-width: 100%;
                        height: 300px;
                        width: 300px;
                        object-fit: contain;
                    }

    /* Contact Section */
    #contact {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 5em;
    }
        #contact-header img {
            width: 300px;
            height: 300px;
        }
        #contact-info {
            max-width: 620px;
        }
            #contact-info h3 {
                line-height: 2rem;
            }

        /* Email and button */
        .email-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 1em;
            padding-top: 1.25em;
        }
            #email {
                font-family: 'Inter-tight', sans-serif;
                font-weight: 500;
                letter-spacing: 0.05em;
                text-transform: uppercase;
            }
            #copyButton {
                font-family: 'Inter-tight', serif;
                font-size: 1em;
                color: var(--main-cta-color);
                border: 2px solid var(--main-cta-color);
                background-color: var(--main-bg-color);
                border-radius: 4px;
                padding: 8px 12px;
                cursor: pointer;
            }
            #copyButton:hover {
                background-color: #383C31;
            }

        /* Social Icons */
        #icon-container {
            max-width: 600px;
            display: flex;
            justify-content: space-around;
            padding-top: 3em;
            gap: 1em;
        }
            .icon {
                width: 5vw;
                max-width: 120px;
                min-width: 50px;
                fill: var(--text-color);
            }
            .icon:hover {
                fill: var(--main-cta-color);
                transition: 0.3s ease;
            }