body {
    padding: 0;
    height: 100vh;
    overscroll-behavior: none;
    overflow-y: hidden;
}
    header {
        background-color: var(--main-bg-color);
        margin: 0;
        padding: 1em 2em;
        position: absolute;
        z-index: 2;
        left: 50%;
        transform: translate(-50%, 46%);

    }
    #app {
        height: 100%;
        width: 100%;
        max-width: none;
        position: relative;
    }
        #scene-container {
            width: 100vw;
            height: 100vh;
        }
        .project-title-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            text-align: center;
            z-index: 1;
        }
            #project-title {
                text-align: center;
                margin: 0;
            }