.project {
    margin-top: 4em;
}

/* *** Banner *** */
.banner-section {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.project-title {
    font-family: 'Inter-tight', sans-serif;
    font-size:calc(1em + 1.7vw);
    position: absolute;
    top: -3%;
    left: 0.5%;
    z-index: 1;
    width: fit-content;
    margin: 0;
    padding: 0.3em 0.6em;
    background-color: var(--dark-foreground-color);
}
#project-banner {
    width: 97%;
    margin: 0 0 0 auto;
    max-height: 800px;
    min-height: 300px;
    object-fit: cover;
}

/* *** Details *** */
.project-details-section {
    display: flex;
    gap: 5em;
    flex-direction: column;
    align-items: center;
}
.details-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3em;
}
.details-text {
    max-width: 625px;
    min-width: 300px;
    flex: 1;
}
.role {
    font-family: 'Inter-tight', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    margin: 1.5em auto;
}
.project-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    gap: 5em;
}

.project-details > * {
    width: 50%;
}
.details-list {
    flex: 0.8;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap:  min(calc(2em + 4vw), 5em);  
}
.details-list * {
    margin: 0;
}
.details-list h3 {
    font-size: 1.2em;
    width: fit-content;
    border-bottom: 1px solid var(--call-to-action);
}

.details-photos {
    flex: 1;
    width: 65%;
    min-width: 300px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}
.details-photos img {
    object-fit: contain;
}


/* *** Pictures *** */
.swiper {
    height: 350px;
    max-width: 600px;
    margin: 0 auto 5em auto;
}
.swiper-slide-item > img {
    object-fit:cover;
    object-position: top;
    height: 350px;
    width: 600px;
    min-width: 300px;
}

.picture-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
}
.picture-row img {
    flex: 0.25;
    min-width: 300px;
    object-fit: contain;
}
.picture-full {
    margin-top: 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
}
.picture-full img {
    flex: 0.5;
    min-width: 300px;
    min-height: 350px;
    object-fit: cover;
}


/* *** Next Project *** */
.next-project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.next-project-section h2 {
    min-width: 220px;
    width:50%;
    margin-top: 0;
}
.next-project {
    position: relative;
    min-width: 300px;
    width: 50%;
    margin-top: 1em;
}
.next-project a:hover h3 {
    color: var(--main-cta-color)
}
.next-project h3 {
    font-family: 'Inter-tight', sans-serif;
    text-decoration: underline;
    text-decoration-color: var(--text-color);
    position: absolute;
    font-size: 1.25em;
    background-color: var(--dark-foreground-color);
    padding: 0.75em 1em;
    top: -4%;
    left: -3%;
}
.next-project img {
    max-height: 600px;
    width: 100%;
    min-width: 300px;
    object-fit: cover;
}