---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import portraitPhoto from '../images/portrait.jpg';
import naturePhoto from '../images/nature.jpg';
import slugPhoto from '../images/slug.jpeg';
---

<Layout title="Home">
	<main>
		<!-- About -->
		<section>
			<div>
				<h2 class="center-text">About me</h2>
				<Image class="center-img" src={portraitPhoto} alt="Portrait photo of me, the website author, Luke Moore." />
			</div>
			<p>I’m a creative developer currently pursuing my Bachelor's at CSU Monterey Bay. 
				I focus on frontend development with a specialization in graphics in the browser.
				My skill set makes me a resourceful individual contributor who blends creativity 
				with logical problem-solving to make innovative and user-centric digital experiences. </p>
			<p>My ambition is to combine creative design and technical development seamlessly in my future career. 
				I bring an engineering mindset to the design process and I care deeply about performance and 
				the principles behind the a11y project. Off the computer, I like to climb rocks, hike, 
				read, noodle on bass guitar, and I’m a plant nerd by hobby.</p>
		</section>

		<section>
			<p>My latest interest has been exploring graphics programming on the web using Three.js 
				and WebGL shaders. In the past, I worked with Firebase and writing cloud functions 
				in Node.js with TypeScript. In community college, my education focused on JavaScript full-stack 
				development using Next.js, React, and RESTful APIs. My time at CSUMB thus far 
				has introduced me to a wide breadth of topics like typography and branding, and has 
				provided me experience with Figma and much of the Adobe Creative suite including 
				Photoshop, Illustrator, After Effects, and Aero.</p>
			<Image id="nature" class="center-img" src={naturePhoto} alt="Me standing in the desert climbing a big boulder behind me. My frined attempts to climb the boulder." />
		</section>

		<!-- Services -->
		<section class="services">
			<h2 class="center-text">Services</h2>
			<div class="services-list">
				<div>
					<h4><span>1)</span> Web Development</h4>
					<p>My first experience with HTML was in 2019, and I have been hooked on the browser since.
						I have a variety of small personal projects I host on Netlify and a few professional 
						websites for local businesses and non-profit organizations in Sonoma County, California.
						
					</p>
				</div>
				<div>
					<h4><span>2)</span> User Experience Design</h4>
					<p>The end-user is at the core of my design process and is the main source of feedback I use
						to develop prototypes and iterate on existing features. I reserach users to understand their 
						needs, behaviors, and pain points. Involving the user in my iteration process allows me to 
						create inclusive solutions, considering a broader range of abilities, backgrounds, and needs.

					</p>
				</div>			
				<div>
					<h4><span>3)</span> Graphics & Animations</h4>
					<p>My latest passion, inspired by my Graphics Programming class in school, has been to explore
						making art and cool visual effects using shader code and WebGL. I think applying some of
						these visuals can be used to help <i><b>spice</b></i> up the web pages we view and make browsing the 
						internet a little more interesting. </p>
				</div>
			</div>
		</section>

		<!-- Skills -->
		<section class="skills">
			<div>
				<h3 class="skill-title">Design Skills</h3>
				<ul>
					<li>Figma</li>
					<li>Adobe Illustrator</li>
					<li>User Experience</li>
					<li>Web design</li>
					<li>Interface design</li>
					<li>Branding</li>
				</ul>
			</div>
			<div>
				<h3 class="skill-title">Development Tools</h3>
				<ul>
					<li>JavaScript</li>
					<li>Three.js</li>
					<li>WebGL</li>
					<li>Node.js</li>
					<li>HTML & CSS</li>
					<li>Git & Deployment workflows</li>
				</ul>
			</div>
		</section>

		<!-- Contact -->
		<section id="contact">
			<div id="contact-slug">
				<h2>Contact</h2>
				<Image id="slug-photo" src={slugPhoto} alt="A banana slug eats a mushroom from the stem up.">
			</div>
			<div>
				<h3>Let's work together!</h3>
				<p>Something about writing me an email and we can figure out if I am the best fit for your project/busniess!</p>
				<p>Email@gmail.com</p>
			</div>
			<div id="icon-container">
				<svg class="icon" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg">
					<g stroke="none" stroke-width="1" fill-rule="evenodd">
						<path d="M31.6326887,31.6326887 C24.3962735,38.8691038 12.6637265,38.8691038 5.42731134,31.6326887 C-1.80910378,24.3962735 -1.80910378,12.6637265 5.42731134,5.42731134 C12.6637265,-1.80910378 24.3962735,-1.80910378 31.6326887,5.42731134 C38.8691038,12.6637265 38.8691038,24.3962735 31.6326887,31.6326887 Z M26,20.5833889 C26,17.6818264 24.5195284,16.3316675 22.5446658,16.3317015 C20.9506623,16.3317015 20.2385165,17.2498723 19.8397552,17.8926088 L19.8397552,17.9231293 L19.8200304,17.9231293 C19.825759,17.9134213 19.8336685,17.9026233 19.8397552,17.8926088 L19.8397552,16.5536226 L16.8383858,16.5536226 C16.878812,17.4404553 16.8383858,26 16.8383858,26 L19.8400482,26 L19.8400482,20.7245464 C19.8400482,20.4418908 19.860424,20.1608362 19.9395839,19.9589102 C20.156655,19.3940759 20.6500696,18.8101664 21.4791975,18.8101664 C22.5653345,18.8101664 22.9993467,19.6765952 22.9993467,20.9461608 L22.9993467,26 L26,26 L26,20.5833889 Z M13.6985192,12 C12.6716545,12 12,12.7048676 12,13.6317925 C12,14.5385181 12.6522225,15.2647773 13.6586789,15.2647773 L13.6787293,15.2647773 C14.7254817,15.2647773 15.3764673,14.5386543 15.3764673,13.6317925 C15.3567425,12.7048676 14.7254817,12 13.6985192,12 Z M12.1782724,26 L15.1787955,26 L15.1787955,16.5536226 L12.1782724,16.5536226 L12.1782724,26 Z" id="Combined-Shape"></path>
					</g>
				</svg>
				<svg class="icon" xmlns="http://www.w3.org/2000/svg" 
					viewBox="0 0 156 156"><defs></defs><title>github</title><path d="M133.15,133.15a77.64,77.64,0,0,1-33.08,19.68A3.92,3.92,0,0,1,99,150V129.35c0-7.06-2.52-11.73-5.17-14,16.77-1.89,34.56-8.33,34.56-37.34A28.84,28.84,0,0,0,120.6,57.7c.76-2,3.4-9.71-.76-20.06,0,0-6.31-2-20.81,7.7a72.32,72.32,0,0,0-37.85,0c-14.5-9.71-20.81-7.7-20.81-7.7-4.16,10.35-1.51,18-.76,20.06A29.42,29.42,0,0,0,31.79,78c0,29,17.66,35.45,34.57,37.34-2.27,1.89-4.17,5.3-4.92,10.09-4.29,2-15.27,5.3-22-6.18,0,0-4-7.32-11.61-7.82,0,0-7.44-.13-.5,4.54,0,0,4.92,2.4,8.32,11.1,0,0,4.42,13.5,25.48,9v14a3.59,3.59,0,0,1-2.31,3.59,78,78,0,1,1,74.28-20.48Z"></path>
				</svg>		
					<li>Other ICON PLACEHOLDER</li>
			</div>
		</section>

	</main>
</Layout>

<style>
	main {
		margin: auto;
		max-width: calc(100% - 2rem);
		line-height: 1.6;
	}
	
	section {
		width: 70%;
		margin: 0 auto;
		padding: 4em 0;
	}

	img {
		height: 50vh;
		width: 40vw;
		object-fit: cover;
		object-position: 60% 20%;
	}
	#nature {
		object-position: 60% 30%;
	}
	#slug-photo {
		height: 40vh;
		width: 40vh;
		object-position: 40% 50%;
		border-radius: 50%;
	}

	.inline-header {
		display: inline;
	}
	.center-img {
		display: block;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.services {
		width: 85%;
	}
	.center-text {
		text-align: center;
	}
	.services-list {
		display: flex;
		justify-content: space-between;
		gap: 1em;
	}
	.services-list div {
		width: 400px;
	}

	h4 span {
		font-family: 'Manrope';
		font-size: 0.8rem;
		letter-spacing: 0.2rem;
	}

	.skills {
		display: flex;
		justify-content: space-evenly;
	}
	.skill-title {
		text-decoration: underline;
	}

	#contact-slug {
		text-align: center;
	}

	#icon-container {
		list-style: none;
	}
</style>
