.swiper {
    position: relative;
    border-radius: 5px;
    max-width: 600px;
}
    .swipe-text {
        max-width: 600px;
    }
    .swiper nav {
      position: absolute;
      display: flex;
      justify-content: space-between;
      width: 114%;
      inset: 0 -7%;
      z-index: 0;
      button {
        border: 1px solid var(--main-cta-color);
        background-color: var(--main-bg-color);
        color: var(--text-color);
        cursor: pointer;
        transition: 0.2s ease;
        &:first-child {
            opacity: 0;
        }
      }  
      button:hover {
        background-color: var(--footer-bg-color);
        transition: ease 0.1s;
    }
    }
    .swiper-slides {
        z-index: 1;
        position: relative;
        display: flex;
        align-items: center;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        overscroll-behavior-x: contain;
    }
        .swiper-slide-item {
            margin: 0;
            scroll-snap-align: start;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .swiper-slide-item > img {
            max-width: 100%;
            height: 300px;
            width: 300px;
            object-fit: contain;
        }