---
import CarouselBottom from './CarouselBottom.astro';
import CarouselTop from './CarouselTop.astro';

---

<div>
    <CarouselTop />
    <h2>Project title</h2>
    <CarouselBottom />
</div>

<style>
    h2 {
        margin: 0;
        padding: 1em 0;
        text-align: center;
    }
</style>