---


---
<div class="canvas-container">
    <canvas></canvas>
</div>

<style>
    .canvas-container {
        margin-top: 1em;
        height: 83vh;
        width: 100%;    
    }

    canvas {
        background-color: #ffff00;
        height: 100%;
        width: 100%;
    }
</style>