---

---
<div id="title"><h1>Project Title</h1></div>
<div id="scene-container"></div>

<script type="module" src="src/components/photoWheel.js"></script>

<style>
    #scene-container {
        height: 90.5vh;
        width: 100%;
    }

    #title {
        position: absolute;
        top: 57%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
</style>